In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [24]:
data = pd.read_csv('alldata.csv')

In [25]:
data.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [ ]:
data['location'].unique()

In [ ]:
data['location'].str.extract(r'([\D]+ ?[\D], \D\D)')

In [ ]:
data.head()

In [ ]:
data['city_state'].unique()

In [ ]:
data['state'] = data['city_state'].str[-3]
data.head()

In [ ]:
data['position'].unique()

In [ ]:
import re
# re.IGNORECASE

data['ds_yes'] = data['position'].str.count('data scientist', flags=re.IGNORECASE)

In [ ]:
data['ds_yes'].value_counts()

In [ ]:
data['description'].head(20)

In [ ]:
data['experience_years'] = data['description'].str.findall((r'(\d+\s\w+|[\d]+\S?[\d]+\s\w+years')
data.head(20)

In [ ]:
data['company'].value_counts()

In [ ]:
data1 =

In [8]:
for line in city_state(",")
     if "From:" in line:
        print(line)

SyntaxError: invalid syntax (<ipython-input-8-68c797f650b2>, line 1)

In [21]:
major_list = ['computer science','data science','statistics','quantitative',
            'mathematics','economics','liberal arts','science','buisness',
            'engineer','engineering','psychology','biology','medicine',
            'marketing','business analysis','chemical engineering','chemistry',
            'public health','public relationship']

In [27]:
findall('major_list',data['description'])

NameError: name 'findall' is not defined

In [29]:
re.findall(r'major_list,data['scription'])

SyntaxError: invalid syntax (<ipython-input-29-2bd740fc036c>, line 1)

In [33]:
description.value_counts().reindex(major_list,fill_value=0)

NameError: name 'description' is not defined

In [36]:
import re
for elements in major_list:
    elements
if z:
    print((z.groups()))

TypeError: match() missing 1 required positional argument: 'string'

In [46]:
pip install tabulate

from tabulate import tabulate

SyntaxError: invalid syntax (<ipython-input-46-49668e417d8f>, line 1)

In [55]:
for m in major_list:
    counter = data["description"].str.lower().str.contains(m).value_counts()
    print([m, ":",counter])

['computer science', ':', False    4550
True     2403
Name: description, dtype: int64]
['data science', ':', False    5378
True     1575
Name: description, dtype: int64]
['statistics', ':', False    4843
True     2110
Name: description, dtype: int64]
['quantitative', ':', False    5352
True     1601
Name: description, dtype: int64]
['mathematics', ':', False    5769
True     1184
Name: description, dtype: int64]
['economics', ':', False    6323
True      630
Name: description, dtype: int64]
['liberal arts', ':', False    6951
True        2
Name: description, dtype: int64]
['science', ':', True     4681
False    2272
Name: description, dtype: int64]
['buisness', ':', False    6953
Name: description, dtype: int64]
['engineer', ':', True     4171
False    2782
Name: description, dtype: int64]
['engineering', ':', False    3651
True     3302
Name: description, dtype: int64]
['psychology', ':', False    6831
True      122
Name: description, dtype: int64]
['biology', ':', False    5966
True      987
Name: description, dtype: int64]
['medicine', ':', False    6364
True      589
Name: description, dtype: int64]
['marketing', ':', False    5785
True     1168
Name: description, dtype: int64]
['business analysis', ':', False    6876
True       77
Name: description, dtype: int64]
['chemical engineering', ':', False    6841
True      112
Name: description, dtype: int64]
['chemistry', ':', False    6316
True      637
Name: description, dtype: int64]
['public health', ':', False    6747
True      206
Name: description, dtype: int64]
['public relationship', ':', False    6953
Name: description, dtype: int64]

In [54]:

df = pd.DataFrame (counter, columns = ['m'])

print (df)

Empty DataFrame
Columns: [m]
Index: []

In [47]:
major_count = {major: 0 for major in major_list}
for major in major_list:
    test = data['description'].str.contains(major)
    if test != -1:
        major_count[major] += 1

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().